{% extends "index/base.html" %}
{% load static %}

{% block title %}BVA Search{% endblock %}

{% block content %}
  <div class="container">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Search BVA Decisions</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Find the information you need to support your claim or win your appeal.</p>
        <div class="">
          <form action="{% url 'decisions:results' %}" method="get" class="" role="search">
            <input type="search" class="form-control rounded-0" placeholder="Search Decisions..." aria-label="Search" name="q">
          </form>
        </div>
      </div>
      {% if not user.is_authenticated %}
      	<div class="mt-3">
          <p><a href="{% url 'account_signup' %}">Create an account</a> to save searches and decisions.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}